# Virtual Environment
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Exclude large input/output CSVs, but ALLOW the corpus
*.csv
!requirements.txt

# Logs
logs/
*.log

# Submission and output folders
submission/
output/

# IDE
.vscode/
.idea/